{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ],
    [
      "@babel/preset-react"
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    [
      "transform-assets-import-to-string",
      {
        "baseDir": "/static/media/",
        "baseUri": "http://localhost:4000"
      }
    ]
  ],
  "ignore":[
    "./src/public/"
  ]
}
