.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.list{
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 800px;
  border: 1px solid #000;
  margin: 0 auto;
}

.wrap{
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  font-size: 30px;
  margin-top: 30px;
}

.container{
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
